<section class="trade-history">

    <!-- Header -->

    <div class="trade-header">

        <div class="header-left">

            <h5>Trade History</h5>

        </div>

        <div class="header-right">

            <button class="add-trade-btn" (click)="openAddTrade($event)"   [disabled]="!walletCreated">

                <i class="bi bi-plus-lg"></i>

                <span>Add Trade</span>

            </button>

        </div>

    </div>

    <!-- Table -->

    <div class="table-container">

        <div class="table-header">

            <div>Date</div>

            <div>Pair</div>

            <div>Direction</div>

            <div>Entry Price</div>
            <div>Stop loss</div>
            <div> Take Profit</div>

            <div>Exit Price</div>
            <div>Points captured</div>
            <div>Risks/Reward</div>
            <div>Lot Size</div>
            <div>Win / Loss</div>
            <div>Profit</div>

            <div>Loss</div>


            <div>Why You Took This Trade</div>
            <div>Remark</div>

            <div class="sticky-action">
                Action
            </div>

        </div>

        <div class="table-body">
    @if (trades.length === 0) {
        <div class="empty-state">
            <div class="empty-icon">
                <i class="bi bi-graph-up"></i>
            </div>
            <h6>No trades yet</h6>
            <p>Start tracking your trading performance by adding your first trade.</p>
            <button class="add-trade-btn" (click)="openAddTrade($event)"  [disabled]="!walletCreated">
                <i class="bi bi-plus-lg"></i>
                <span>create Trade</span>
            </button>
        </div>
    }@else {   @for (trade of trades; track trade.id) {

            <div class="table-row">

                <div>{{ trade.date }}</div>

                <div> @if(!trade.isEditing){

                    {{trade.pair}}

                    } @else {

                    <input class="table-input" [(ngModel)]="trade.pair">

                    }
                </div>

                <div>
                    @if(!trade.isEditing){ <span class="direction" [class.buy]="trade.direction === 'BUY'"
                        [class.sell]="trade.direction === 'SELL'">
                        {{ trade.direction }}
                    </span>}
                    @else{

                    <select class="table-select" [(ngModel)]="trade.direction" (ngModelChange)="calculateTrade(trade)">

                        <option>BUY</option>

                        <option>SELL</option>

                    </select>

                    }
                </div>

                <div>

                    @if(!trade.isEditing){

                    {{trade.entry_price}}

                    }
                    @else{

                    <input type="number" class="table-input" [(ngModel)]="trade.entry_price" (ngModelChange)="calculateTrade(trade)">

                    }

                </div>

                <div>

                    @if(!trade.isEditing){

                    {{trade.stop_loss}}

                    }
                    @else{

                    <input type="number" class="table-input" [(ngModel)]="trade.stop_loss" (ngModelChange)="calculateTrade(trade)">

                    }

                </div>

                <div>

                    @if(!trade.isEditing){

                    {{trade.take_profit}}

                    }
                    @else{

                    <input type="number" class="table-input" [(ngModel)]="trade.take_profit" (ngModelChange)="calculateTrade(trade)">

                    }

                </div>
                <div>

                    @if(!trade.isEditing){

                    {{trade.exit_price}}

                    }
                    @else{

                    <input type="number" class="table-input" [(ngModel)]="trade.exit_price" (ngModelChange)="calculateTrade(trade)">

                    }

                </div>

                <!-- Points Captured: always auto-calculated, never directly editable -->
                <div>
                    {{ trade.points_captured }}
                </div>

                <!-- Risk / Reward: always auto-calculated, never directly editable -->
                <div>
                    {{ trade.risk_reward }}
                </div>

                 <div>

                    @if(!trade.isEditing){

                    {{trade.lot_size}}

                    }
                    @else{

                    <input type="number" class="table-input" [(ngModel)]="trade.lot_size" (ngModelChange)="calculateTrade(trade)">

                    }

                </div>
                <div>

                    @if(!trade.isEditing){

                    <span class="status" [class.win]="trade.win_loss === 'WIN'"
                        [class.loss]="trade.win_loss === 'LOSS'">

                        {{trade.win_loss}}

                    </span>

                    }
                    @else{

                    <select class="table-select" [(ngModel)]="trade.win_loss" (ngModelChange)="onWinLossChange(trade)">

                        <option value="WIN">WIN</option>
                        <option value="LOSS">LOSS</option>

                    </select>

                    }

                </div>

                <div>

                    @if(!trade.isEditing){

                    <span class="text-success">

                        {{trade.profit}}

                    </span>

                    }
                    @else{

<input type="number" class="table-input" [(ngModel)]="trade.profit"
    [disabled]="trade.win_loss === 'LOSS'"
    (focus)="clearZero($event)">
                    }

                </div>

                <div>

                    @if(!trade.isEditing){

                    <span class="text-danger">

                        {{trade.loss}}

                    </span>

                    }
                    @else{

                   <input type="number" class="table-input" [(ngModel)]="trade.loss"
    [disabled]="trade.win_loss === 'WIN'"
    (focus)="clearZero($event)">

                    }

                </div>

                <div class="reason">

                    @if(!trade.isEditing){

                    {{trade.reason}}

                    }
                    @else{

                    <textarea rows="2" class="table-textarea" [(ngModel)]="trade.reason">
</textarea>

                    }

                </div>
                <div class="reason">

                    @if(!trade.isEditing){

                    {{trade.remark}}

                    }
                    @else{

                    <textarea rows="2" class="table-textarea" [(ngModel)]="trade.remark">
</textarea>

                    }

                </div>

                <div class="sticky-action">

                    @if(!trade.isEditing){



                    <button class="action-btn" (click)="editTrade(trade)" title="Edit">

                        <i class="bi bi-pencil"></i>

                    </button>

                    <!-- <button class="action-btn danger" (click)="deleteTrade(trade)" title="Delete">

                        <i class="bi bi-trash"></i>

                    </button> -->

                    }
                    @else{

                    <button class="action-btn success" (click)="saveEdit(trade)">

                        <i class="bi bi-check-lg"></i>

                    </button>

                    <!-- <button class="action-btn danger" (click)="cancelEdit(trade)">

                        <i class="bi bi-x-lg"></i>

                    </button> -->

                    }

                </div>
            </div>

            }
}
         
        </div>

    </div>
  @if (trades.length > 0) {
<div class="table-pagination">

    <div class="pagination-info">
        Showing
        <strong>{{ trades.length }}</strong>
        of
        <strong>{{ totalRecords }}</strong>
        trades
    </div>

    <div class="pagination-controls">

        <button class="page-btn" (click)="prevPage()" [disabled]="currentPage === 1">
            <i class="bi bi-chevron-left"></i>
        </button>

        @for (p of pageNumbers; track $index) {
            @if (p === '...') {
                <span class="dots">...</span>
            } @else {
                <button class="page-number" [class.active]="p === currentPage" (click)="goToPage(+p)">
                    {{ p }}
                </button>
            }
        }

        <button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
            <i class="bi bi-chevron-right"></i>
        </button>

    </div>

</div>
}
</section>

@if(showTradeModal){

<div class="trade-modal" (click)="closeTradeModal()">

    <div class="modal-dialog" (click)="$event.stopPropagation()">

        <!-- Header -->

        <div class="modal-header">

            <div>

                <h4>Add Trade</h4>

            </div>

            <button type="button" class="close-btn" (click)="closeTradeModal()">

                <i class="bi bi-x-lg"></i>

            </button>

        </div>

        <!-- Body -->

        <div class="modal-body">

            <form class="trade-form">

                <!-- ========================= -->
                <!-- Trade Information -->
                <!-- ========================= -->

                <div class="section-title">

                    <i class="bi bi-bar-chart"></i>

                    <span>Trade Information</span>

                </div>

                <div class="form-group">
    <label>Date</label>
    <input type="date" class="form-control" [(ngModel)]="newTrade.date" name="date"
        [attr.min]="minTradeDate">
    @if(minTradeDate){
        <small class="text-muted">Trades allowed from {{ minTradeDate }} onward</small>
    }
</div>

                <div class="form-group">
                    <label>Pair</label>
                    <input type="text" class="form-control" placeholder="BTC / USDT" [(ngModel)]="newTrade.pair"
                        name="pair">
                </div>

                <div class="form-group">
                    <label>Direction</label>

                    <select class="form-select" [(ngModel)]="newTrade.direction"
                        (ngModelChange)="calculateTrade(newTrade)" name="direction">

                        <option value="Buy">Buy</option>
                        <option value="Sell">Sell</option>

                    </select>

                </div>

                <div class="form-group">
                    <label>Entry Price</label>
                    <input type="number" class="form-control" [(ngModel)]="newTrade.entry_price"
                        (ngModelChange)="calculateTrade(newTrade)" name="entry_price"  (focus)="clearZero($event)">
                </div>

                <!-- ========================= -->
                <!-- Risk -->
                <!-- ========================= -->

                <div class="section-title full-width">

                    <i class="bi bi-shield-check"></i>

                    <span>Risk Management</span>

                </div>

                <div class="form-group">
                    <label>Stop Loss</label>
                    <input type="number" class="form-control" [(ngModel)]="newTrade.stop_loss"
                        (ngModelChange)="calculateTrade(newTrade)" name="stop_loss"  (focus)="clearZero($event)">
                </div>

                <div class="form-group">
                    <label>Take Profit</label>
                    <input type="number" class="form-control" [(ngModel)]="newTrade.take_profit"
                        (ngModelChange)="calculateTrade(newTrade)" name="take_profit"  (focus)="clearZero($event)" >
                </div>
                <div class="form-group">
                    <label>Lot Size</label>
                    <input type="number" class="form-control" [(ngModel)]="newTrade.lot_size"
                         name="lot_size"  (focus)="clearZero($event)"> 
                </div>

                <div class="form-group ">
                    <label>Risk / Reward</label>
                    <input type="text" class="form-control" placeholder="1 : 2" [(ngModel)]="newTrade.risk_reward"
                        readonly name="risk_reward" >
                </div>

                <!-- ========================= -->
                <!-- Result -->
                <!-- ========================= -->

                <div class="section-title full-width">

                    <i class="bi bi-graph-up-arrow"></i>

                    <span>Trade Result</span>

                </div>

                <div class="form-group">
                    <label>Exit Price</label>
                    <input type="number" class="form-control" [(ngModel)]="newTrade.exit_price"
                        (ngModelChange)="calculateTrade(newTrade)" name="exit_price">
                </div>

                <div class="form-group">
                    <label>Points Captured</label>
                    <input type="number" class="form-control" [(ngModel)]="newTrade.points_captured" readonly
                        name="points_captured">
                </div>

                <div class="form-group">
    <label>Win / Loss</label>

    <select class="form-select" [(ngModel)]="newTrade.win_loss" name="win_loss" (ngModelChange)="onWinLossChange(newTrade)">

        <option value="WIN">WIN</option>
        <option value="LOSS">LOSS</option>

    </select>

</div>
             <div class="form-group">
    <label>Profit</label>
    <input type="number" class="form-control" [(ngModel)]="newTrade.profit" name="profit"
        [disabled]="newTrade.win_loss !== 'WIN'"
        (focus)="clearZero($event)">
</div>

<div class="form-group ">
    <label>Loss</label>
    <input type="number" class="form-control" [(ngModel)]="newTrade.loss" name="loss"
        [disabled]="newTrade.win_loss !== 'LOSS'"
        (focus)="clearZero($event)">
</div>
                <div class="form-group ">
                    <label>Remarks</label>
                    <input type="text" class="form-control" [(ngModel)]="newTrade.remark" name="remark">
                </div>

                <!-- ========================= -->
                <!-- Notes -->
                <!-- ========================= -->

                <div class="section-title full-width">

                    <i class="bi bi-journal-text"></i>

                    <span>Notes</span>

                </div>

                <div class="form-group full-width">

                    <label>Why You Took This Trade</label>

                    <textarea rows="5" class="form-control" [(ngModel)]="newTrade.reason" name="reason">

                    </textarea>

                </div>

            </form>

        </div>

        <!-- Footer -->

        <div class="modal-footer">

            <button type="button" class="btn-cancel" (click)="closeTradeModal()">

                Reset

            </button>

            <button type="button" class="btn-save" [disabled]="isSavingTrade" (click)="saveTrade()">
    @if (isSavingTrade) {
        <span class="btn-spinner"></span>
        <span>Saving...</span>
    } @else {
        <span>Save Trade</span>
    }
</button>

        </div>

    </div>

</div>

}