<div class="auth-card">
  <div class="card-header">
    <!-- <div class="logo-container">
      <img src="assets/images/horizontal_logo.png" alt="Smart Trade Academy" class="card-logo" />
    
    </div> -->
    <p class="welcome-text">Welcome back !!!</p>
    <h2 class="form-title">Sign in</h2>
  </div>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="auth-form">
    <div class="form-group">
      <label for="signin-email" class="form-label">Email</label>
      <input
        type="email"
        id="signin-email"
        formControlName="email"
        class="form-input"
        placeholder="test1@gmail.com"
        [class.error]="email?.invalid && email?.touched"
      />
      <span class="error-message" *ngIf="email?.invalid && email?.touched">
        <span *ngIf="email?.errors?.['required']">Email is required</span>
        <span *ngIf="email?.errors?.['email']">Please enter a valid email</span>
      </span>
    </div>

    <div class="form-group">
      <div class="label-row">
        <label for="signin-password" class="form-label">Password</label>
        <a href="#" class="forgot-password">Forgot Password ?</a>
      </div>
      <div class="password-input-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="signin-password"
          formControlName="password"
          class="form-input"
          placeholder="********"
          [class.error]="password?.invalid && password?.touched"
        />
      </div>
      <span class="error-message" *ngIf="password?.invalid && password?.touched">
        <span *ngIf="password?.errors?.['required']">Password is required</span>
        <span *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</span>
      </span>
    </div>
<div class="d-flex justify-content-center">
  <button type="submit" class="submit-btn" routerLink="/subscriptions">
      SING IN
          <span class="icons mb-2"> <img src="/assets/images/login_icon.png" width="15" alt=""></span>

    </button>
</div>
    

    <p class="switch-form">
      I don't have an account ? <a href="#" class="switch-link">Sign up</a>
    </p>
  </form>
</div>