/* header.component.css */
// *{
//     font-family: "Roboto", sans-serif;
// }
.header {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
 
}

.logo img {
  height: 50px;
  width: auto;
}

.logo-text {
  font-weight: 700;
  color: #1a1a2e;
  font-size: 1.1rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #1a1a2e;
  border-radius: 2px;
  transition: 0.3s;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #4361ee;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.btn {
  padding: 0.3rem 1.5rem;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  font-size: 0.95rem;
}

.btn-outline {
  background: transparent;
  border: 2px solid #143AA3 ;
  color: #143AA3 ;
}

.btn-outline:hover {
  background: #143AA3 ;
  color: white;
}

.btn-primary {
  background: #143AA3 ;
  border: 2px solid #143AA3 ;
  color: white;
}

.btn-primary:hover {
  background: #3651d4;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(67, 97, 238, 0.3);
}

@media (max-width: 1199px) {
  .menu-toggle {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  .nav.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .auth-buttons {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    padding: 1rem;
    margin-top: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  .auth-buttons.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .auth-buttons .btn {
    width: 100%;
  }
}