<!-- header.component.html -->
<header class="header sticky-top">
  <div class="container-fluid">
    <div class="row header-content">
      <div class="col-12 col-md-3 d-flex justify-content-between ">
        <div class="logo ms-3">
        <img src="assets/images/horizontal_logo.png" alt="Smart Trade" />
        
      </div>

      <button class="menu-toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <nav class="nav" [class.active]="isMenuOpen">
        <a routerLink="/home" class="nav-link">Home</a>
        
        <a href="#" class="nav-link">About Us</a>
        <a href="#" class="nav-link">Courses</a>
        <a href="#" class="nav-link">Contact Us</a>
      </nav>
      </div>

      <div class="col-md-3">
        <div class="auth-buttons" [class.active]="isMenuOpen">
        <button routerLink="/login" class="btn btn-outline"  >Login </button>
        <button routerLink="/login"  class="btn btn-primary">Sign In</button>
      </div>
      </div>

      
    </div>
  </div>
</header>