
<div class="page-wrapper">

  <h1 class="title">{{ plan.name }} plan</h1>

  <!-- <p class="subtitle">
    Analyze any Business or Creator account—including your competitors—to find the imagery,
    visuals, and captions that drive audience engagement. Get social calendars planned faster
    and spend less time testing content strategies.
  </p> -->
    <p class="subtitle">
      {{ plan.description }}
      </p>

  <div class="card-row">

    <!-- QR CARD -->
    <div class="box qr-box">
      <img src="assets/images/qr_code.png" alt="QR Code">
      <span class="scan-text">SCAN ME</span>
    </div>

    <!-- AMOUNT CARD -->
    <div class="box amount-box">
      <p class="amount-title">Amount</p>
      <h2 class="amount-value"> ₹{{ plan.price }}<span class="amount-period">/mo</span></h2>
    </div>

    <!-- UPLOAD CARD -->
    <div class="box upload-box">

      <h3>Upload payment screenshot</h3>

      <p class="upload-desc">
        Please upload files in pdf, docx or doc format and make sure the file size is under 25 MB.
      </p>

      <div class="upload-area "  (dragover)="onDragOver($event)"
           (dragleave)="onDragLeave($event)"
           (drop)="onDrop($event)"
        (click)="triggerFileInput()">

       <div *ngIf="!selectedFile" class="drop-zone-content">
            <p class="drop-text">Drop file or Browse</p>
            <p class="drop-format">Format: pdf, docx, doc & Max file size: 25 MB</p>
          </div>

          <div *ngIf="selectedFile" class="file-selected">
            <span class="file-name">{{ selectedFile.name }}</span>
            <button class="remove-button" (click)="removeFile(); $event.stopPropagation()">✕</button>
          </div>

          <input 
            type="file" 
            id="fileInput"
            class="file-input"
            accept=".pdf,.doc,.docx"
            (change)="onFileSelected($event)">
      </div>
 <p *ngIf="fileError" class="error-message">{{ fileError }}</p>
      <button class="done-btn" (click)="onDone()">Done</button>

    </div>

  </div>

</div>


