<!-- <app-loading *ngIf="state.loading()"></app-loading> -->
<div class="chart-data">
  <!-- ── PAGE HEADER ── -->
  <div class="page-header">
    <div class="page-header__left">
      <h1 class="page-header__title">Shared Chart Data</h1>
      <p class="page-header__sub">Manage and preview JSON market data files used for assessments.</p>
    </div>
  </div>
  <!-- ── CARD GRID ── -->
  <div class="card-grid">
  

    <div class="data-card" 
     *ngFor="let item of chartDataList; let i = index"
     >

  <!-- Card top row: badge + menu -->
  <div class="data-card__top">
    <span class="badge badge--forex " [style.background]="getCardColor(i)">
      <svg width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"/>
        <line x1="2" y1="12" x2="22" y2="12"/>
        <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"/>
      </svg>
      {{ item?.title }}
  </span>
      <div class="meta-col ">
<button type="button" class="btn btn-primary processing-btn rounded-2 ms-auto">
    <i class="bi bi-bar-chart-fill me-2"></i> Chart
</button>    
</div>
  


    <!-- 3-dot menu -->
     <!-- @if(item?.json_path){
      <button class="menu-btn" (click)="toggleMenu(i)" [class.menu-btn--open]="openMenuIndex === i">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2.2" stroke-linecap="round">
        <circle cx="12" cy="5" r="1" fill="currentColor"/>
        <circle cx="12" cy="12" r="1" fill="currentColor"/>
        <circle cx="12" cy="19" r="1" fill="currentColor"/>
      </svg>
    </button>
     }
     -->
  </div>


  <h3 class="data-card__filename">{{ item?.title }}</h3>
  <p class="data-card__desc">{{ item?.chart_title}}</p>

  <hr class="data-card__divider" />

  <div class="data-card__meta">
    <!-- <div class="meta-col">
      <span class="meta-col__label">Uploaded</span>
      <span class="meta-col__value">{{ item.created_at }}</span>
    </div> -->
    @if(!item?.json_path){
      <div class="data-card__footer">
  <!-- Processing Button -->
  <!-- <button
    class="processing-btn"
    *ngIf="!item?.json_path"
    (click)="processing(item)"
    > -->
<!-- <button
    class="processing-btn"
    *ngIf="!item?.json_path"
    >
    <span class="btn-spinner"></span>
   <span class="processing-text">
    Processing...
   </span> 
</button> -->

</div>
    }
    @else{
      <!-- <div class="meta-col">
<button type="button" class="btn btn-primary processing-btn rounded-2 ms-auto">
    <i class="bi bi-bar-chart-fill me-2"></i> Chart
</button>    
</div> -->

    }
    
  </div>

</div>

  </div>

</div>
