<!-- why-choose-us.component.html -->
<section class="why-choose">
  <div class="container">
    <div class="why-choose-content">
      <div class="left-section">
        <h2 class="section-title">Why Choose Us</h2>
<p class="section-description"
   [class.collapsed]="!showFullText">

  At our center, we believe that learning should be an experience,
  not just a series of lessons. That's why we offer personalized
  mentorship from successful, funded traders who can guide you from
  the very basics, from scratch, all the way to advanced principles
  of Smart Money Concepts. To help you master these concepts faster,
  we use digitally mocked, graphically rich videos that simplify
  complex information, saving you valuable time. Plus, you'll have
  access to our peacefully designed trading floor, interactive digital
  exams to track your progress, and a supportive community where you
  can network and grow. We provide the entire environment for your success.

</p>

<span class="read-more" (click)="toggleText()">
  {{ showFullText ? 'Show Less' : '... Read More' }}
</span>
  <div class="image-grid">
  <div class="grid-item" *ngFor="let feature of features">
    <img 
      class="img-fluid rounded" 
      [src]="feature.image" 
      [alt]="feature.title" 
    />
  </div>
</div>


                
      </div>

      <div class="right-section">
        <div class="feature-card" *ngFor="let feature of features">
          <div class="feature-number">{{ feature.number }}</div>
          <h3 class="feature-title">{{ feature.title }}</h3>
          <p class="feature-description">{{ feature.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>